@font-face {
    font-family: 'Comic';
    src: url('/fonts/Comic_neue/ComicNeue-Bold.ttf');
    font-style: normal;
    font-weight: 100;
}
/************************** TAG selectors *****************************/
 
body {
    color: #40514E; /* font color */
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto; 
    /* width: 10%; */
    /* margin: 0 auto 0 auto; */
    font-family: Comic;
    /* font-family: 'Sacramento', cursive; */
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: #EAF6F6;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

p {
    line-height: 2;
}

/************************** CLASS selectors *****************************/

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}
.middle-container {
    margin: 100px 0 125px;
}

.bottom-container {
    padding: 50px 0 20px;
    background-color: #66BFBF;
}

.contact-me {
    line-height: 1.5;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.top-cloud {
    position: absolute;
    top: 20px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.vscode-like-img {
    width: 40%;
    height: 40%;
    float: left;
    margin-right: 20px;
}

.programming-img {
    width: 40%;
    height: 40%;
    float: right;
    margin-left: 20px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 100px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .profile {
  }
  .copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 10px 0;
  }

  .contact-msg {
    width: 40%;
    margin: 40px auto 60px;
  }