/******************* tag selectors ********************/
body {
    margin: 0;
}

/******************* class selectors ********************/
.container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: grey;
}

.red {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    left: 200px;
    top: 0px;
}

.blue {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    left: 100px;
    top: 0px;
}

.yellow {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: fixed;
    top: 0px;
}